.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.table-container {
  max-height: 400px; /* Set the maximum height of the table */
  overflow-y: auto;  /* Add vertical scroll if content exceeds the max height */
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  padding: 10px;
  border: 1px solid #ddd;
  text-align: left;
}

thead {
  position: sticky;
  top: 0;
  background-color: #f1f1f1; /* Sticky header background color */
  z-index: 10; /* Ensure the header stays above table rows */
}

.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
}
